* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-image: url(/imagenes/loginf.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.wrapprt {
    width: 420px;
    background: slateblue;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapprt h1 {
    font-size: 36px;
    text-align: center;
}

.wrapprt .imput-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.imput-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.imput-box input::placeholder {
    color: #fff;

}

.imput-box i {
    position: absolute;
    right: 20px;
    top: 50px;
    transform: translateY(-50%);
    font-size: 30px;
}

.imput-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.bt_seccion a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapprt .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
   
.register-link p a:hover {
    text-decoration: underline;
}
